{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <h1 class="mt-2 mb-4" >Inicio</h1>
    <div class="jumbotron">
        <h1 class="display-4">Bienvenidos</h1>
        <p class="lead">En este sitio web encontrarás información acerca de la producción del café,
            además
            podrás hacer cálculos del factor de redimiento y mucho más.</p>
        <hr class="my-4">
        <p>Página web enfocada en los cálculos del factor de rendimiento del café e información sobre
            trilladoras de Colombia.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Leer más</a>
    </div>
</div>




{% endblock %}