{% extends "layout.html" %} {% block body %}
<div class="container">
    <h1>Ingresar</h1>
    <form action="" mathod="POST">
        <div class="form-group">
            <input type="text" name="nombre" class="form.control" placeholder="Nombre" , required>
        </div>
        <div class="form-group">
            <input type="contraseña" name="Contraseña" class="form.control" placeholder="Contraseña" , required>
        </div>
        <button class="btn btn-primary" type="submit">Ingresar</button>
    </form>
</div>
{% endblock %}